body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: #036FCF;
}


/* Global CSS  */

.swiper {
    /* width: 100vw; */
    /* height: 300px; */
    overflow-y: unset !important;
    overflow-x: hidden !important;
  }
.swiper-2 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-y: unset !important;
    overflow-x: hidden !important;
    list-style: none;
    padding: 0;
    z-index: 1;
}

  
/* navbar  */

.navbar{
    position: absolute;
    background: url('../images/bg-navbar-mobile.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;

    width: 100%;
    max-height: 100px;
    /* margin-bottom: -100px; */
}
.navbar-toggler-icon{
    height: 24px;
    width: 24px;
    background: url('../images/icon-hamburger.svg');
}
.navbar-nav{
    background: #0475D0;
}
.logo-brand{
    filter: drop-shadow(0px 26px 28px rgba(6, 15, 31, 0.37));
}
.mobile{
    display: flex;
}
.dekstop{
    display: none !important;
}
.navbar-brand{
    max-width: 35px;
}
.nav-item{
    margin-bottom: 16px;
}
.nav-link{
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF !important;
    margin: 0px 1rem;
}
.btn-nav{
    font-style: italic;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    /* identical to box height */
    color: #FFFFFF;
}
.btn:hover{
    color:#FFFFFF;
}
.dropdown-menu{
    background-color: unset;
    border: unset;
    color: #FFFFFF;
}
.dropdown-item{
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 22px;
}

/* typography */
h1{
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 121%;
    text-transform: capitalize;
    color: #01999A;
}
h2{
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 114%;
    text-transform: capitalize;
    color: #FFFFFF;
}
h3{
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}
h4{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 171.5%;
    color: #FFFFFF;
}
h5{
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 120%;
    color: #FFFFFF;
}
h6{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 42px;
    /* identical to box height, or 262% */
    letter-spacing: 1.05px;
    color: #FFFFFF;
}

.text-line{
    color: transparent;
	-webkit-text-stroke: 1px #05979C;
	-webkit-text-fill-color: unset;
}
.white{
    color: #FFFFFF !important;
}

p{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 171.5%;
    color: #FFFFFF;
}
.p-18{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 171.5%;
    color: #FFFFFF;
}
.p-13{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}
.p-12{
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 137.5%;
    color: #FFFFFF;
}

.readmore{
    color: #00FFF0;
    text-decoration: none;
}


/* button  */
.btn{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
}
.btn-primary{
    background-color: unset;
    border-color: transparent;
    color: #FFC65F;
    background: url('../images/img-btn.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 26px 0px;
    min-width: 162px;
}
.btn-primary:hover{
    background-color: unset;
    border-color: transparent;
    color: #FFC65F;
}


/* Section CSS  */

/* hero section  */
section.hero{
    background: url('../images/bg-hero.png');
    background-repeat: no-repeat;
    background-position: center top;
    padding: 165px 0px 135px;
}
section.hero img{
    max-width: 605px;
}

/* Archer section  */
section.archer{
    padding: 130px 0px;
}
.arrow-div{
    max-width: 200px;
    overflow-x: scroll;
}
.icon-circle{
    padding: 20px;
    height: 61px;
    width: 61px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.3);
}

/* Tokenomics section  */
section.tokenomics{
    background: linear-gradient(80.24deg, #408CFF 13.46%, #08B0C7 93.72%);
    box-shadow: 0px 37px 79px rgba(0, 0, 0, 0.15);
    padding: 130px 0px;
}
.grad-icon{
    max-width: 34px;
}
.grad-box{
    padding: 24px 24px;
    background: linear-gradient(97.71deg, rgba(255, 255, 255, 0.2) 21.7%, rgba(255, 255, 255, 0) 100.77%);
    border: 4px solid #00FFF0;
    box-shadow: 0px 60px 73px -31px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}
.legend-container{
    background-color: aqua;
    width: 24px;
    height: 24px;
}
/* .myChart{
    margin: 60px 0px;
    margin-top: 120px;
    max-width: 474px;
    height: auto;
} */
.card-legend{
    width: 100%;
    height: 55px;
    /* background: rgba(255, 255, 255, 0.33); */
}
.legend-color{
    width: 5px;
    margin-right: 24px;
}
.chart-container{
    height: 600px;
    /* padding: 60px 0px; */
}
.token-button{
    background: #9DA9AB;
    border: 3px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 20px;
    margin-right: 12px;
}
.nav-pills .nav-link{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0 0;
    padding: 0 0;
}
.nav-pills .nav-link.active{
    background-color: unset;
}
.nav-pills .nav-link.active .token-button{
    background-color: #FF3F3F;
}



/* section about us  */
section.about-us{
    background: url('../images/bg-roadmap-mobile.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 51px 0px 182px;
}
.our-partners{
    width: 100% !important;
    max-width: 1440px !important;
    padding-left: 0px;
    padding-right: 0px;
    /* padding: 50px 0 ; */
}
section.about-us h2.text-center{
    color: #12417F;
    margin: 51px 0;
}
section.about-us h4{
    color: #01999A;
}
section.about-us p{
    color: #01999A;
}
ul.quarter{
    color: #01999A;
    padding-left: 1rem;
}
.year-content{
    width: 90vw;
}
.year-wrap{
    background: url('../images/img-btn-roadmap.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 18px;
    margin-bottom: -30px;
    position: relative;
    /* z-index: 10; */
}
.year-box{
    background: linear-gradient(97.71deg, rgba(255, 255, 255, 0.9) 21.7%, rgba(255, 255, 255, 0.9) 100.77%);
    box-shadow: 0px 60px 73px -31px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    padding: 55px 35px 41px;
    height: 300px;
}
.logo-block{
    background: #EAF6FA;
    /* box-shadow: 0px 47px 58px -27px rgba(0, 0, 0, 0.29); */
    border-radius: 35px;
    height:  35px;
    width: 107px;
    max-width: 107px;
    min-width: 107px;
    padding: 11px 25px;
    margin: 0px 28px;
}

.accordion-body{
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 171.5%;
    /* identical to box height, or 31px */
    color: #01999A;
    border-radius: 20px !important;
    padding: 14px;
    /* max-width: 100%; */
    /* margin-left: 42px; */
}
.accordion-item {
    border-radius: 20px !important;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.accordion-button{
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 171.5%;
    /* identical to box height, or 31px */
    color: #01999A;
    border-radius: 20px !important;
    padding: 14px;
    background-color: unset;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:not(.collapsed){
    color: #01999A;
    background-color: unset;
    box-shadow: none;
}
.accordion-button:not(.collapsed){
    color: #01999A;
    background-color: unset;
    box-shadow: none;
}

/* .accordion-button::after {
    background-image: url(../images/icon-plus.svg);
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url('../images/icon-plus.svg');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
} */
.accordion-button::before {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 20px;
    content: "";
    background-image: url('../images/icon-plus.svg');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button::after{
    background-image: url('../images/icon-plus.svg');
    display: none;
}
.accordion-button:not(.collapsed)::before{
    background-image: url('../images/icon-plus.svg');
}

.overlay-bot{
    width: 100%;
    height: 182px;
    background: linear-gradient(180deg, #0283F7 0%, rgba(0, 0, 0, 0) 96.13%);
    transform: rotate(-180deg);
}


/* section footer  */
section.footer{
    background: linear-gradient(80.24deg, #408CFF 13.46%, #08B0C7 93.72%);
    box-shadow: 0px 37px 79px rgba(0, 0, 0, 0.15);
}
section.footer .container{
    padding: 121px 0px 65px;
}
.footer-orn{
    background: url('../images/bg-footer.png');
    background-repeat: no-repeat;
    background-position: top right;
}
.footer-logo{
    position: absolute;
    margin-top: -190px;
}
section.footer p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #D9D9D9;
    max-width: 224px;
}
.footer-link{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 183%;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.icon-wrap{
    max-width: 24px;
    margin-right: 20px;
}

/* .container{
        max-width: 99%;
    } */

/* Breakpoints  */

@media (min-width: 576px) {
    .arrow-div{
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .arrow-div{
        max-width: 350px;
    }
}

@media (min-width: 992px) {
    /* navbar  */
    .container-fluid{
        height: 97px;
    }
    .navbar{
        background: url('../images/bg-navbar.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top center;
    }
    .navbar-nav{
        margin-top: 120px;
        background: unset;
    }
    .navbar-brand{
        /* margin-top: 75px; */
        max-width: 140px;
    }
    .dropdown-menu{
        background-color: #0475D0;
        border: unset;
        color: #FFFFFF;
    }
    

    /* typography */
    h1{
        font-size: 72px;
    }
    h2{
        font-size: 64px;
    }
    h3{
        font-size: 48px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 18px;
    }

    p{
        font-size: 16px;
    }
    .p-18{
        font-size: 18px;
    }
    .p-12{
        font-size: 12px;
        max-width: 278px;
    }
    
    /* button  */
    .btn{
        font-size: 18px;
        line-height: 27px;
    }
    .btn-primary{
        min-width: 206px;
    }
    

    .arrow-div{
        max-width: 260px;
    }

    /* Tokenomics section  */
    section.tokenomics{
        padding: 160px 0px;
    }
    .grad-icon{
        max-width: 56px;
    }
    .grad-box{
        padding: 40px 50px;
    }
    .token-button{
        height: 23px;
        width: 23px;
    }
    .nav-pills .nav-link{
        font-size: 24px;
        line-height: 36px;
    }

    .logo-block{
        height:  85px;
        width: 263px;
        max-width: 263px;
        min-width: 263px;
        padding: 29px 50px;
        margin: 0px 28px;
    }

    /* section about us  */
    section.about-us{
        background: url('../images/bg-roadmap.png');
        padding: 240px 0px 364px;
    }
    .our-partners{
        padding: 50px 0 ;
    }
    section.about-us h2.text-center{
        color: #12417F;
        margin: 240px 0 69px;
    }

    .accordion-body{
        font-size: 18px;
        padding: 34px;
        max-width: 424px;
        margin-left: 42px;
    }
    .accordion-item {
        border-radius: 20px !important;
        width: 816px;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .accordion-button{
        font-size: 18px;
        padding: 34px;
    }
    
}

@media (min-width: 1200px) { 
    
}

@media (min-width: 1400px) {
    
}

